<div class="container" id="top">
　<section class = "top-img">
    <div class="row">
      <img src="<%= asset_path"nisetter_top.png" %>">    
    </div>
  </section>
  <section class = "top-text">
    <div class = "row">
      <p>Twitterに似せて作成した</p>
      <p>練習用サイトです</p>
    </div>
  </section>
</div>